#container{
margin: 0 auto;
width: 30%;
padding: 10px;
height:250px;
margin-top: 50px;
border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
}

form{
margin: auto;
width: 90%;
border: 3px solid #0c9bbe;
padding: 10px;
overflow: inherit;
}

p{
font-family:serif;
text-align:center;
font-size:large;
color:#0c9bbe;
font-weight: bolder;
}

.input_data{
width:95%;
display: block;
margin: auto;
margin-bottom:10px;
padding: 10px;
appearance: none;
overflow: inherit;
border-style: none;
color:rgb(65, 65, 65);
text-align: center;
}
.email{
width: 90%;
}

input{
display: block;
margin: auto;
margin-bottom:10px;
padding: 10px;
appearance: none;
border-style: none;
text-align: center;
color:rgb(65, 65, 65);
}

.button{
background: #0c9bbe;
border-style: none;
padding: 8px;
height: 100%;
width: 95%;
font-size: medium;
font-family: serif;
font-weight: 500;
color: #efefef;
cursor: pointer;
}