  .container{
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    height:auto,250px;
    margin-top: 50px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
  }

  p{
    font-family:serif;
    text-align:center;
    font-size:large;
  }
  form{
  margin: auto;
  width: 50%;
  border: 3px solid #0c9bbe;
  padding: 10px;
  }
  input{
    display: block;
    margin: auto;
    margin-bottom:10px;
    padding: 10px;
  }

.button{
  background: #0c9bbe;
  border-style: none;
  padding: 8px;
  height: 100%;
  width: 100%;
  font-size: medium;
  font-family: serif;
  font-weight: 500;
  color: #efefef;
  cursor: pointer;
  }
